body {
    background-color: #FFFFFF;
    size: 100%;
}

/* Barra de cima começa aqui */

.barra-de-cima nav {
    display: flex;
    width: 100%;
    height: 9%;
    padding: 10px 0;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 69420;
}

.barra-de-cima nav img.Logo {
    margin-left: 20px;
    cursor: pointer;
}

.barra-de-cima nav ul {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.barra-de-cima nav ul li {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0 10px;
}

.barra-de-cima nav ul li a img {
    transition: top ease 0.5s;
}

.barra-de-cima .group {
    display: flex;
    align-items: center;
    position: relative;
    width: 700px;
}

.barra-de-cima .input {
    width: 100%;
    height: 40px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
}

.barra-de-cima .input::placeholder {
    color: #9e9ea7;
}

.barra-de-cima .input:focus, .barra-de-cima .input:hover {
    border-color: rgba(42, 74, 255, 0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgba(76, 81, 234, 0.1);
}

.barra-de-cima .icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
}

#carrinho {
    cursor: pointer;
}

/* Barra de Cima acaba aqui */

h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    text-align: left;
    color: #333;
    letter-spacing: 0.05em;
    margin-bottom: 20px;
    margin-left: 10%;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
}

.main-image {
    margin-right: 20px;
}

.thumbnails {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Tudo acima apenas copiei e colei, algumas estão extras, mas não sei quais são essas linhas, o de baixo vai ser somente sobre a tela de compras... */

.voltar-tela-inicial{
    width: 140px;
    height: 40px;
    border-radius: 10px;
    border: #9e9ea7;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    background-color: #ebebeb;
    margin-bottom: 35px;
    margin-top: 25px;   
    margin-left: 60px; 
}

.flex-container{
    display: flex;
    flex-flow: row wrap;
}

.voltar-tela-inicial:hover{
    background-color: #dadae0;
    cursor: pointer;
}

.alinhas-flex{
    display: flex;
    flex-direction: row;
}

.notas{
    height: 20px;
    margin-top: -30px;
}

.avaliacao-adicionarCarrinho{
    margin-left: 80px;
    margin-bottom: solid black;
}

.produto1{
    height: 600px;
    margin-left: 45px;
}

.outros-produtos1{
    height: 80px;
    width: 150px;

}

.descricao{
    margin-left: 50px;

}

#Descricao{
    margin-top: 5%;

}

.outros-produtos{
    
    margin-left: 16%;
    border-top: solid black;
    padding-top: 2%;
}

.Adicionar-Carrinho {
    width: 400px;
    height: 90px;
    border: #9e9ea7;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    background-color: #7997da;
    color: white;
    font-size: xx-large;
}

.Adicionar-Carrinho:hover{
    background-color: #6464bd;
    cursor: pointer;
}

.outros-produtinhos {
    display: flex;
    background-color: rgb(245, 245, 245);
    margin-bottom: 10px;
    width: 100%;
}

.nome-produto{
    font-size: 46px;
}

p {
    width: 20cm;
    margin-top: -10px;
}

.p1{
    width: 260px;
    margin-top: 0.5px;
    margin-left: 20px;
    font-weight: bold;
}

.p2 {
    width: 260px;
    margin-left: 15px;
    margin-top: -8px;
    
}

h3 {
    font-size: 40px;
    margin-top: -3%;
}

h1{
    margin-top: -2px;
}

.valor-original-produto{
    font-size: x-large;
    margin-left: 2%;
}

.desconto{
    font-size: x-large;
    padding: 0.7%;
    border-radius: 15px;
    background-color: rgb(93, 176, 253);
    color: white;
}

.sobre-desconto{
    display: flex;
    margin-top: 70%;
}

.imagem-produto-central{
    background-color: grey;
    width: 60%;
    height: 60%;
    margin-left: 3%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.voltar-tela-inicial {
    width: 160px;
    height: 40px;
    border-radius: 10px;
    background-color: #357de9;
    color: #FFFFFF;
    font-size: 1rem;
    text-align: center;
    line-height: 40px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    margin: 120px 0 20px 20px;
    cursor: pointer;
    border: none;
}

.voltar-tela-inicial:hover {
    background-color: #275cb8;
}

/* Carrinho */

#modalCarrinho {
    background-color: rgb(204, 204, 204);
    width: 30%;
    height: 100%;
    border: none;
    position: fixed;
    left: 68.3%;
    top: 21.3%;
}

#modalCarrinho::backdrop {
    background-color: rgba(0, 0, 0, 0);
}

.tituloCarrinho {
    text-align: center;
    font-size: 40px;
    border-bottom: 2px solid;
    padding-bottom: 15px;
}

#fecharCarrinho {
    background-color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    transition: transform 0.5s;
    transform: translateX(0) scale(0.95);
}

#fecharCarrinho:hover {
    cursor: pointer;
    transform: translateX(0) scale(1.05);
}

.conteiner3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px;
    height: 52%;
    overflow-y: auto;
}

.produto-item1 {
    cursor: pointer;
    background-color: white;
    border-radius: 15px;
    flex-basis: calc(33.33% - 10px);
    margin-bottom: 100px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.produto-item1 img {
    width: 100%;
    height: auto;
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
}

.produto-item1 .produto-info {
    width: 100%;
    text-align: center;
}

.produto-item1 .produto-info h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    margin: 10px 0;
    font-size: 16px;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
}

.produto-item1 .botao-remover-carrinho {
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    width: 100%;
    font-size: 14px;
}

.produto-item1 .botao-remover-carrinho:hover {
    background-color: #d32f2f;
}

.botao-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#comprarCarrinho {
    background-color: #357de9;
    color: white;
    font-size: 27px;
    border: none;
    border-radius: 15px;
    width: 35%;
    height: 7%;
    transition: transform 0.5s;
    transform: translateX(0) scale(0.95);
}

#comprarCarrinho:hover {
    cursor: pointer;
    background-color: rgb(93, 176, 253);
    transform: translateX(0) scale(1.05);
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: white;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(133, 131, 131);
    border-radius: 10px;
}